* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

header {
  background-color: #394867; }

.nombre {
  text-decoration: none;
  color: inherit; }
.nom-nav {
  background-color: none;
  color:inherit
}
.mobile-only {
  display: none;
}
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #000000 0%, #042344 100%);
  border-radius: 2px; }
.nav-pag {
  height: 600px;
  width: auto;
  display: flex; }
  .nav-pag .nav-pagimg {
    width: auto;
    height: 100%;
    background-size: contain;
    background-position: center;
    transition: flex 0.5s, clip-path 0.5s 0.5s;
    flex: 2.5;
    display: grid;
    --clip: circle(0 at center);
    --transition: clip-path .2s;
    position: relative;
    overflow: hidden; }
    .nav-pag .nav-pagimg:hover {
      flex: 3.5;
      --clip: circle(180% at center);
      --transition: clip-path 0.5s 0.5s; }
    .nav-pag .nav-pagimg a {
      display: block;
      width: auto;
      height: 100%; }
    .nav-pag .nav-pagimg::before {
      content: var(--mesage);
      display: grid;
      place-items: center;
      background-color: #1d1d1e48;
      font-family: arial;
      font-size: 2rem;
      color: #fff;
      position: relative;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      opacity: 0;
      transform: translateY(-20px);
      transition: all 0.3s ease-in-out; }
    .nav-pag .nav-pagimg:hover::before {
      opacity: 1;
      transform: translateY(0); }
    .nav-pag .nav-pagimg:nth-child(1) {
      --mesage: "Accesorios"; }
    .nav-pag .nav-pagimg:nth-child(2) {
      --mesage: "Coleccionables"; }
    .nav-pag .nav-pagimg:nth-child(3) {
      --mesage: "Vestimentas"; }
    .nav-pag .nav-pagimg:nth-child(4) {
      --mesage: "Sobre Nosotros"; }
    .nav-pag .nav-pagimg:hover {
      flex: 3.5;
      --clip: circle(180% at center);
      --transition: clip-path 0.5s 0.5s; }
.mobile-only {
  display: none;
}
.nombre {
  display: block;
  font-size: 40px; }

.logo {
  border-radius: 20px;
  border: 2px solid black;
  width: 42px; }

body {
  background-color: #394867; }

.destacado {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 4px solid black;
  border-bottom: 4px solid black; }
  .destacado .img-destacado {
    border-radius: 20px;
    border: 2px solid black;
    width: 200px;
    font-size: 5px;
    transition: transform 0.3s ease-in-out; }
    .destacado .img-destacado:hover {
      transform: scaleY(1.05) scaleX(1.05); }

.mercancia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 4px solid black;
  border-bottom: 4px solid black; }
  .mercancia .img-mercancia {
    border-radius: 20px;
    border: 2px solid black;
    width: 200px;
    font-size: 5px;
    transition: transform 0.3s ease-in-out; }
    .mercancia .img-mercancia:hover {
      transform: scaleY(1.05) scaleX(1.05); }

.producto {
  font-size: 1.5rem;
  color: white;
  margin-top: 20px; }

.titulo {
  font-size: 60px;
  color: #fff; }

.mostrador {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.div-mercancia {
  flex:calc(30.30% - 300px);
  border-radius: 1px;
  border: 3px solid black;
  padding: 15px;
  margin:15px;
}
.boton {
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; }
  .boton:hover {
    transform: scaleY(1.05) scaleX(1.05); }

footer {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 50px;
  width: 100%;
  padding: 45px 45px;
  background-color: #9BA4B5; }

a {
  text-decoration: none; }

.form {
  display: inline-block;
  margin-right: 7px;
  border-radius: 1px;
  border: 3px solid black;
  background-color: #394867;
  grid-column: 1 / 2; }

.form-group {
  position: relative;
  --color: $colorintf; }

.form-input {
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  color: #5757577e;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color); }

.form-label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px); }

.form-group {
  margin-bottom: 20px; }
  .form-group.form-group-error .form-input {
    border-color: red; }
  .form-group.form-group-error .form-label {
    color: red; }
  .form-group .form-input {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 3px;
    border: 1px solid #ddd;
    transition: border-color 0.2s ease-in-out; }
    .form-group .form-input:focus {
      outline: none;
      border-color: solid black; }
    .form-group .form-input::placeholder {
      color: #aaa; }
    .form-group .form-input:not(:placeholder-shown) + .form-label {
      transform: translateY(-5px) scale(1);
      transform-origin: top left;
      --color: solid black; }
  .form-group .form-label {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    color: #666;
    transition: transform 0.2s ease-in-out;
    pointer-events: none;
    position: absolute;
    left: 15px;
    top: 15px;
    transform-origin: top left; }
    .form-group .form-label.form-label-error {
      color: red; }

.trailer {
  display: inline-block;
  border-radius: 1px;
  border: 3px solid black;
  background-color: #F7F7F7;
  grid-column: 2 / 3; }

.titl-spa {
  font-size: 25px;
  color: white; }

.video {
  width: 700px; }

a i {
  color: #AFBFCE; }

footer svg {
  flex-wrap: nowrap;
  fill: solid black;
  width: 35px;
  margin-right: 10px;
  margin: 17px; }

.text-nosotros {
  padding-bottom: 10px; }

.main-nos {
  padding-left: 20%;
  padding-top: 20px;
  padding-right: 20%;
  padding-bottom: 40px;
  border-top: 5px solid black;
  border-bottom: 5px solid black; 
}
  .main-nos .titl-nos h2 {
    text-transform: uppercase;
    border-bottom: 1px solid black;
    font-size: 32px;
    padding-bottom: 10px; }
  .main-nos .div-nos {
    background-color: #F3F3F3;
    padding-left: 10px; }
    .main-nos .div-nos p {
      padding-right: 45%;
      line-height: 30px;
      margin-left: 100px;
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 20px;
      padding-bottom: 30px; }
    .main-nos .div-nos img {
      width: 90px;
      float: left;
      margin-top: 20px;
      vertical-align: middle;
      border: 2px solid black;
      border-radius: 20px; }

      @media (min-width: 1024px) {
        .logo {
          text-decoration: none;
          height: auto;
          width: 50px;
          margin: 1px;
          padding: 1px;
        }
        header {
          font-size: 125%;
        }
      }
        @media screen and (max-width: 768px) {
          .mobile-only {
            display: block;
        }
        .mobile-none {
          display: none;
        }
      
      .nav-pag {
        display: none;
      }
      .offcanvas-body ul li {
        padding: 0 1vw;
      }
      .navbar-animacion li a {
        display: inline-block;
        padding: 20px;
        transition: transform 0.3s ease;
      }
      .navbar-animacion li a:hover {
        background-color: rgba(79, 79, 81, 0.2117647059);
        border-right: 1px solid rgba(179, 178, 178, 0.291);
        border-left: 1px solid rgba(179, 178, 178, 0.291);
        transform: scale(1.15);
      }
      .mostrador {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));; 
        grid-template-areas: "1" "2" "3"; 
        grid-gap: 10px; 
      }
      .titulo {
        text-align: center;
        font-size: 2.7rem;
        grid-column: 1 / -1; 
        margin-left: 100%;
        margin-right: 100%;
      }
      .div-mercancia {
        width: auto; } 
        .lg-ns {
          display: none
        }
        .img-destacado {
          border-radius: 20px;
          border: 2px solid black;
          width: 100px;
          font-size: 5px; }
          footer {
            grid-template-columns: repeat 1, 1fr;
            grid-gap: 5px; 
          }
          .form {
            display: none;
          }
          .trailer {
            display: none;
          }
          .lg-ns {
          display: none
        }
        .txt-nos {
          font-size: 5%;
        }
        footer {
          display: flex;
          justify-content: center;
        }
        .responsivefooter {
          flex-wrap: nowrap;
        }
      }