*{
box-sizing: border-box; 
padding: 0px; 
margin: 0px;
}

.nombre {
display: block; 
font-size: 40px;
}
.logo {
border-radius: 20px ; 
border: 2px solid black; 
width: 42px;
}
header {
background-color: #2c5fb1;
}
body {
background-color:#AFBFCE;
}
.destacado {
display: flex;
justify-content: center;
flex-wrap: wrap;
border-top: 4px solid black; 
border-bottom: 4px solid black;
}
.titulo-destacado {
font-size: 60px;
}
.mostrador { 
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:space-between;
}
.div-mercancia {
width: 20%;
border-radius: 1px; 
border: 3px solid black; 
padding: 15px; 
margin-left: 15px;
margin-top: 15px; 
margin-bottom: 15px;
}
.img-destacado {
background-color: solid blue; 
border-radius: 20px;
border: 2px solid black; 
width: 200px;
font-size: 5px;
transition: transform 0.3s ease-in-out;
}
.img-destacado:hover {
transform: scaleY(1.05) scaleX(1.05);
}
.img-mercancia {
    background-color: solid blue; 
    border-radius: 20px;
    border: 2px solid black; 
    width: 200px;
    font-size: 5px;
    transition: transform 0.3s ease-in-out;
    }
    .img-mercancia:hover {
    transform: scaleY(1.05) scaleX(1.05);
    }
.boton {
padding: 10px; 
font-size: 15px; 
cursor: pointer;
transition: transform 0.3s ease-in-out;
}
.boton:hover {
transform: scaleY(1.05) scaleX(1.05);
}
footer {
display: grid ;
grid-template-columns: repeat(3, 1fr);
grid-gap: 50px;
width: 100%;
padding: 45px 45px ;
background-color:#316fd3;
}
footer a {
text-decoration: none;
}
.formulario {
display: inline-block; 
margin-right: 7px;
border-radius: 1px;
border: 3px solid black;
background-color: #2452a1;
}
.trailer{
border-radius: 1px;
border: 3px solid black;
background-color: #2452a1;
}
.video {
display: flex;
justify-content: flex-end;
width: 695px;
padding-top: 23.5px;
                
}
a i{
color: #AFBFCE ;
}
footer svg {
flex-wrap: nowrap;
fill: solid black;
width: 35px;
margin-right: 10px;
margin: 17px;
}
.text-nosotros {
padding-bottom: 10px;
}
.main-nos {
padding-left: 20%;   
padding-top: 20px;   
padding-right: 20%;   
padding-bottom: 40px; }

.titl-nos h3 { 
text-transform: uppercase;   
border-bottom: 1px solid #0a131d;   
font-size: 32px;   
padding-bottom: 10px; }
.div-nos {
background-color: #2c5fb1;
padding-left: 10px; 
}
.div-nos h4 {
line-height: 80px;
margin-left: 100px;
text-transform: uppercase;
font-size: 24px; 
}
.div-nos p {
padding-right: 45%;
line-height: 30px;
margin-left: 100px;
margin-bottom: 30px;
font-weight: bold;
font-size: 20px;
padding-bottom: 30px; 
}
.div-nos img {
width: 90px;
float: left;
margin-top: 20px;
vertical-align: middle;
border: 2px solid black;
border-radius: 20px; 
}
@media screen and (max-width:990px) {
.img-destacado{
background-color: solid blue; 
border-radius: 20px;
border: 2px solid black; 
width: 100px;
font-size: 5px;
}
footer {
grid-template-columns: repeat (1, 1fr);
grid-gap: 5px;
}
.video{
width: 300px;
}
}
@media screen and (max-width: 870px){
footer {
display: flex;
justify-content: center;
}
.responsivefooter{
flex-wrap: nowrap;
}
.titulo-destacado {
display: block;
}
.video {
width: 350px;
}
.mostrador {
display:grid ;
grid-template-columns: repeat (3, 3fr);
grid-gap: 10px    
}
footer svg {
display: inline;
}
.div-mercancia {
width: 300px;
}
}